<div>
    <div style="max-width: 600px; margin: 0 auto;">
        <div style="display: flex; gap: 30px;">
        <div style="max-width: 100px; max-height: 100px;">
            <img src="cid:logo.png" alt="" style="width: 100%;">
        </div>
            <h2>ДОМЕР.БЕЛ</h2>
            </div>
        <div style="background: lightgray; padding: 10px; display: flex; flex-direction: column; gap: 10px; border-radius: 8px;">
            <h2 style="flex-wrap: wrap; margin: 0 10px;">
                Дмитрий, у вас новое сообщение об объявлении "продам квартиру в центре
                минска"
            </h2>
            <div style="background-color: #ffffff; padding: 10px; border-radius: 10px;">
                <h3 style="margin: 0 10px 10px 10px;">
                    Пользователь
                </h3>
                <p style="flex-wrap: wrap; margin: 10px 0 10px 10px;">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo
                    accusantium nesciunt reprehenderit minus
                    exercitationem debitis voluptatum odio assumenda expedita, hic quisquam est sequi labore nihil
                    reiciendis in architecto, aperiam sed?
                </p>
            </div>
            <a href="http://127.0.0.1:8000/users/dialogs/b077e825-f5a1-430c-9634-bb4cfeab3c9d/19/" style="text-decoration: none; padding: 10px; background: #719ece; color: white;">Открыть диалог</a>
        </div>
    </div>
</div>


{#<div>#}
{#    <div style="max-width: 600px; padding: 10px; margin: 0 auto;">#}
{#        <div style="max-width: 100px; max-height: 100px;">#}
{#            <img src="../static/img/logo.png" alt="" style="width: 100%;">#}
{#        </div>#}
{#        <div style="background: lightgray; padding: 10px;">#}
{#            <h3>{{ instance.author.first_name }}</h3>#}
{#            <h1 style="flex-wrap: wrap;">{{ members.first_name }}, у вас новое сообщение о товаре "{{ instance.chat.advertisement.title }}"</h1>#}
{#            <p style="flex-wrap: wrap;">{{ instance.message }}</p>#}
{#        </div>#}
{#        <a href="#" style="text-decoration: none; padding: 10px; background: #719ece; color: white;">Открыть диалог</a>#}
{#    </div>#}
{#</div>#}