<div>
    <div style="max-width: 600px; padding: 10px; margin: 0 auto;">
        <div style="max-width: 100px; max-height: 100px;">
            <img src="../static/img/logo.png" alt="" style="width: 100%;">
        </div>
        <div style="background: lightgray; padding: 10px;">
            <h3>{{ instance.author.first_name }}</h3>
            <h1 style="flex-wrap: wrap;">{{ member.first_name }}, у вас новое сообщение о товаре "{{ instance.chat.advertisement.title }}"</h1>
            <p style="flex-wrap: wrap;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo accusantium nesciunt reprehenderit minus
                exercitationem debitis voluptatum odio assumenda expedita, hic quisquam est sequi labore nihil
                reiciendis in architecto, aperiam sed?</p>
        </div>
        <a href="#" style="text-decoration: none; padding: 10px; background: #719ece; color: white;">Открыть диалог</a>
    </div>
</div>