{% extends 'base.html' %} 
{% load static %}
{% block css %} 
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock css %} 
{% block content %}
<form method="POST" class="feedback">
  {% csrf_token %}
 {% if complaint_form.non_field_errors %}
            <div class="form-error">{{ complaint_form.non_field_errors }}</div>
        {% endif %}
        {% for f in complaint_form %}
        <label for="{{ f.id_for_label }}" class="{% if f.errors %}label__error{% endif %}">
            <p class="form-label">
                {% if f.field.required %}
                <span>*</span>
                {% endif %}
                {{f.label}}:
            </p>
                {{ f }}
            {% if f.errors %}
                <div class="form-error">{{ f.errors }}</div>
            {% endif %}
        </label>
        {% endfor %}
<button class="submit__btn">Отправить</button>
</form>
{% endblock %} 
{% block js %}
{% endblock js %}
