{% extends 'profile_user.html' %}
{% load static %}
{% block css2 %}
    <link rel="stylesheet" href="{% static 'css/profile_dialog.css' %}">
{% endblock %}

{% block search %}
{% endblock %}

{% block mainInfo %}
    <div class="main__info">
    <section class="dialog__subject" data-id="{{ advertisement.id }}">
        <div class="dialog__subject-img">
            <img src="{% if advertisement.preview_image %} {{ advertisement.preview_image.url }} {% else %}{% static 'img/no_image.jpg' %}{% endif %}"
                 alt="{{ advertisement.title }}">
        </div>
        <div class="dialog__subject-title">
            <p>
                {{ advertisement.title }}
            </p>
            <p>
                {% if advertisement.price %}{{ advertisement.price|floatformat }}{% else %}Договорная{% endif %}
            </p>
        </div>
    </section>
    <section class="message__list" id="id_chat_item_container">
        {% if chat %}
            {% with chats=chat|first %}
                {{ chats.id|json_script:"room-name" }}
                {% with date=chats.message_set.all|first %}
                    {% for message in chats.message_set.all %}
                        {% ifchanged %}
                            {% if message.pub_date.date == date_today %}
                                <div class="messages__item-date">
                                    Сегодня
                                </div>
                            {% elif message.pub_date.date == date_yesterday %}
                                <div class="messages__item-date">
                                    Вчера
                                </div>
                            {% else %}
                                <div class="messages__item-date">
                                    {{ message.pub_date|date:"d b. Y" }}
                                </div>
                            {% endif %}
                        {% endifchanged %}
                        <div class="message__item {% if message.author_id == user.id %}message-self{% else %}message-any{% endif %}">
                            <p class="message__item-text">
                                {{ message.message }}
                            </p>
                            <p class="message__item-time">
                                {{ message.pub_date|date:"H:i" }}
                            </p>
                        </div>
                    {% endfor %}
                {% endwith %}
            {% endwith %}
        {% endif %}
    </section>
    <section class="message__input" data-id="{{ user.id }}">
        <textarea placeholder="Напишите сообщение" id="id_message_send_input" class="message__input-text"></textarea>
        <button 
        type="button" 
        class="message__input-send" 
        id="id_message_send_button"
        disabled
        >
            <svg width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.129265 23.3537C0.0787801 23.6061 0.348773 23.8007 0.57228 23.673L20.5442 12.2605C20.7457 12.1453 20.7457 11.8547 20.5442 11.7395L0.572283 0.327018C0.348776 0.1993 0.078782 0.393901 0.129267 0.646326L1.96586 9.82928C1.98697 9.93485 2.06303 10.021 2.16516 10.0551L8 12L2.16516 13.9449C2.06303 13.979 1.98697 14.0652 1.96586 14.1707L0.129265 23.3537Z"
                      fill="currentColor"></path>
                <mask id="mask0_191_374" maskUnits="userSpaceOnUse" x="0" y="0" width="21" height="24"
                      style="mask-type: alpha;">
                    <path d="M0.129265 23.3537C0.0787801 23.6061 0.348773 23.8007 0.57228 23.673L20.5442 12.2605C20.7457 12.1453 20.7457 11.8547 20.5442 11.7395L0.572283 0.327018C0.348776 0.1993 0.078782 0.393901 0.129267 0.646326L1.96586 9.82928C1.98697 9.93485 2.06303 10.021 2.16516 10.0551L8 12L2.16516 13.9449C2.06303 13.979 1.98697 14.0652 1.96586 14.1707L0.129265 23.3537Z"
                          fill="currentColor"></path>
                </mask>
                <g mask="url(#mask0_191_374)">
                    <circle cx="10.5" cy="11.5" r="0" fill="#00AD64"></circle>
                </g>
            </svg>
        </button>
    </section>
{% endblock mainInfo %}

{% block js2 %}
    <script src="{% static "js/profile/dialog.js" %}"></script>
{% endblock js2 %}