{% extends 'profile_user.html' %}
{% load static %}
{% block css2 %}
    <link rel="stylesheet" href="{% static 'css/profile_dialog.css' %}">
{% endblock %}

{% block search %}
{% endblock %}

{% block modals %}
    <form aria-modal="true" class="remove__modal" method="POST" action="{% url 'users:delete_dialogs' %}">
        {% csrf_token %}
        <div class="cross">
            <svg width="20.000000" height="20.000000" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink">
                <desc>
                    Created with Pixso.
                </desc>
                <defs>
                    <clipPath id="clip946_10111">
                        <rect id="Dismiss" width="20.000000" height="20.000000" fill="white" fill-opacity="0"/>
                    </clipPath>
                </defs>
                <g clip-path="url(#clip946_10111)">
                    <path id="Shape"
                          d="M3.89 4.05L3.96 3.96C4.23 3.7 4.65 3.67 4.94 3.89L5.03 3.96L10 8.93L14.96 3.96C15.23 3.7 15.65 3.67 15.94 3.89L16.03 3.96C16.29 4.23 16.32 4.65 16.1 4.94L16.03 5.03L11.06 10L16.03 14.96C16.29 15.23 16.32 15.65 16.1 15.94L16.03 16.03C15.76 16.29 15.34 16.32 15.05 16.1L14.96 16.03L10 11.06L5.03 16.03C4.76 16.29 4.34 16.32 4.05 16.1L3.96 16.03C3.7 15.76 3.67 15.34 3.89 15.05L3.96 14.96L8.93 10L3.96 5.03C3.7 4.76 3.67 4.34 3.89 4.05L3.96 3.96L3.89 4.05Z"
                          fill="#212121" fill-opacity="1.000000" fill-rule="nonzero"/>
                </g>
            </svg>
        </div>
        <div class="modals__login-logo-wrap">
            <div class="modals__login-logo">
                <img src="{% static 'img/logo.png' %}" alt="">
            </div>
            <h2>
                Удаление диалога
            </h2>
        </div>
        <fieldset>
            <p class="remove__modal-text">
                Вы действительно хотите удалить диалог?
                Это действие нельзя будет отменить
            </p>
            <input type="hidden" name="dialog">
            <div class="remove__modal-btn">
                <button class="remove__btn">
                    Удалить
                </button>
                <button type="button" class="cancel__btn submit__btn">
                    Отмена
                </button>
            </div>
        </fieldset>
    </form>
{% endblock modals %}

{% block mainInfo %}
    <div class="main__info">
    <section class="dialog__subject">
        <a class="dialog__subject-img" href="{% if chat.advertisement %}{{ chat.advertisement.get_absolute_url }} {% elif chat.store %} {{ chat.store.get_absolute_url }} {% else %}#{% endif %}">
            <img src="{% if chat.advertisement and chat.advertisement.preview_image %} {{ chat.advertisement.preview_image.url }} {% elif chat.store and chat.store.logo_image %} {{ chat.store.logo_image.url }} {% else %}{% static 'img/no_image.jpg' %}{% endif %}"
                             alt="{% if chat.advertisement %}{{ chat.advertisement.category }} {% elif chat.store %} {{ chat.store.category }} {% endif %}">
        </a>
        <div class="dialog__subject-text">
            <a class="dialog__subject-text-title" href="{% if chat.advertisement %}{{ chat.advertisement.get_absolute_url }} {% elif chat.store %} {{ chat.store.get_absolute_url }} {% else %}#{% endif %}">
                {% if chat.advertisement %}{{ chat.advertisement.title }} {% elif chat.store %} {{ chat.store.title }} {% else %}Объявление недоступно{% endif %}
            </a>
            {% if chat.advertisement %}
            <p class="dialog__subject-text-price">
                {% if chat.advertisement.price %}{{ chat.advertisement.price|floatformat }} руб.{% else %}Договорная{% endif %}
            </p>
        {% endif %}
        </div>
    <div class="cross__dialog" data-id="{{ chat.id }}">
                        <svg width="20.000000" height="20.000000" viewBox="0 0 20 20" fill="none"
                             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <desc>
                                Created with Pixso.
                            </desc>
                            <defs>
                                <clipPath id="clip946_10111">
                                    <rect id="Dismiss" width="20.000000" height="20.000000" fill="white"
                                          fill-opacity="0"></rect>
                                </clipPath>
                            </defs>
                            <g clip-path="url(#clip946_10111)">
                                <path id="Shape"
                                      d="M3.89 4.05L3.96 3.96C4.23 3.7 4.65 3.67 4.94 3.89L5.03 3.96L10 8.93L14.96 3.96C15.23 3.7 15.65 3.67 15.94 3.89L16.03 3.96C16.29 4.23 16.32 4.65 16.1 4.94L16.03 5.03L11.06 10L16.03 14.96C16.29 15.23 16.32 15.65 16.1 15.94L16.03 16.03C15.76 16.29 15.34 16.32 15.05 16.1L14.96 16.03L10 11.06L5.03 16.03C4.76 16.29 4.34 16.32 4.05 16.1L3.96 16.03C3.7 15.76 3.67 15.34 3.89 15.05L3.96 14.96L8.93 10L3.96 5.03C3.7 4.76 3.67 4.34 3.89 4.05L3.96 3.96L3.89 4.05Z"
                                      fill="#212121" fill-opacity="1.000000" fill-rule="nonzero"></path>
                            </g>
                        </svg>
                    </div>
    </section>
    <section class="message__list" id="id_chat_item_container">
        {% if chat %}
                {{ chat.id|json_script:"room-name" }}
                {% with date=chat.message_set.all|first %}
                    {% for message in chat.message_set.all %}
                        {% ifchanged %}
                            {% if message.pub_date.date == date_today %}
                                <div class="messages__item-date">
                                    Сегодня
                                </div>
                            {% elif message.pub_date.date == date_yesterday %}
                                <div class="messages__item-date">
                                    Вчера
                                </div>
                            {% else %}
                                <div class="messages__item-date">
                                    {{ message.pub_date|date:"d b. Y" }}
                                </div>
                            {% endif %}
                        {% endifchanged %}
                        <div class="message__item {% if message.author_id == user.id %}message-self{% else %}message-any{% endif %}">
                            <p class="message__item-text">
                                {{ message.message }}
                            </p>
                            <p class="message__item-time">
                                {{ message.pub_date|date:"H:i" }}
                            </p>
                        </div>
                    {% endfor %}
                {% endwith %}
        {% endif %}
    </section>
    <section class="message__input" data-id="{{ user.id }}">
        <textarea placeholder="Напишите сообщение" id="id_message_send_input" class="message__input-text"></textarea>
        <button 
        type="button" 
        class="message__input-send" 
        id="id_message_send_button"
        disabled
        >
            <svg width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.129265 23.3537C0.0787801 23.6061 0.348773 23.8007 0.57228 23.673L20.5442 12.2605C20.7457 12.1453 20.7457 11.8547 20.5442 11.7395L0.572283 0.327018C0.348776 0.1993 0.078782 0.393901 0.129267 0.646326L1.96586 9.82928C1.98697 9.93485 2.06303 10.021 2.16516 10.0551L8 12L2.16516 13.9449C2.06303 13.979 1.98697 14.0652 1.96586 14.1707L0.129265 23.3537Z"
                      fill="currentColor"></path>
                <mask id="mask0_191_374" maskUnits="userSpaceOnUse" x="0" y="0" width="21" height="24"
                      style="mask-type: alpha;">
                    <path d="M0.129265 23.3537C0.0787801 23.6061 0.348773 23.8007 0.57228 23.673L20.5442 12.2605C20.7457 12.1453 20.7457 11.8547 20.5442 11.7395L0.572283 0.327018C0.348776 0.1993 0.078782 0.393901 0.129267 0.646326L1.96586 9.82928C1.98697 9.93485 2.06303 10.021 2.16516 10.0551L8 12L2.16516 13.9449C2.06303 13.979 1.98697 14.0652 1.96586 14.1707L0.129265 23.3537Z"
                          fill="#currentColor"></path>
                </mask>
                <g mask="url(#mask0_191_374)">
                    <circle cx="10.5" cy="11.5" r="0" fill="#3077a0"></circle>
                </g>
            </svg>
        </button>
    </section>
{% endblock mainInfo %}

{% block js2 %}
    <script src="{% static "js/profile/dialog.js" %}"></script>
    <script src="{% static 'js/profile/modal_remove.js' %}"></script>
{% endblock js2 %}