@import "./variables";
@import "./mixins";


.feedback {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;

  & button {
    max-width: 320px;
  }
}

.feedback__label {
  display: flex;
  align-items: center;
  gap: 10px;

  & p {
    flex: 0 1 150px;
    @include fonts($defaultColor, 14px, 400);

    & span {
      color: red;
    }
  }

  & input, textarea {
    width: 100%;
    max-width: 320px;
    border: 1px solid $gray;
    padding: 7px;
    border-radius: 7px;
    @include fonts($defaultColor, 14px, 400);
  }
}

@media (max-width:992px) {

  .feedback {
    & button {
      max-width: none;
    }
  }
  .feedback__label {
    flex-direction: column;
    align-items: initial;

    & p {
      flex: initial;
      align-items: flex-start;
    }

    & input, textarea {
      max-width: none;
    }
  }
}