@import "./variables";
@import "./mixins";

.dialog__subject {
  display: flex;
  gap: 20px;
  align-items: center;
  border: 1px solid $gray;
  border-radius: 7px;
  margin-bottom: 10px;
  position: relative;
  height: 110px;
}

.dialog__subject-img {
  padding-left: 10px;
  flex: 0 0 120px;
  & img {
    width: 100%;
    height: 100%;
    max-height: 100px;
    object-fit: contain;
  }
}

.dialog__subject-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dialog__subject-text-title {
  @include fonts($defaultColor, 20px, 400);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.dialog__subject-text-price {
  @include fonts($defaultColor, 16px, 400);
}

.cross__dialog {
      width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}


.message__list {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f5f5f5;
  border-radius: 7px 7px 0 0;
  overflow-y: auto;
  height: 300px;
  align-items: center;
}

.messages__item-date {
  @include fonts($defaultColor, 14px, 400);
  padding: 5px;
  background-color: $headerTopBorder;
  border-radius: 10px;
}

.message__item {
  padding: 5px;
  margin: 0 5px;
  display: flex;
  gap: 3px;
  max-width: 90%;

}
.message__item-text {
  word-break: break-word;
  white-space: pre-line;
}

.message-self {
  align-self: flex-end;
  background-color: $userSearchBg;
  @include fonts($defaultColor, 18px, 400);
  border-radius: 10px 10px 0 10px;
}

.message-any {
  align-self: flex-start;
  background-color: $gray;
  @include fonts($defaultColor, 18px, 400);
  border-radius: 10px 10px 10px 0;
}

.message__item-time {
  display: flex;
  @include fonts($defaultColor, 10px, 400);
  align-items: flex-end;
}

.message__input {
  display: flex;
  width: 100%;
  gap: 5px;
  position: relative;
  padding: 15px;
  border: 1px solid $gray;
  border-radius: 7px;
}

#id_message_send_input {
  resize: none;
  caret-color: #00ad64;
  @include fonts($defaultColor, 18px, 400);
  flex: 1 1 auto;
  height: 100%;

  textarea:focus {
    border: none;
    box-shadow: inset 0 0 5px #719ece;
    outline: none;
  }
}

.message__input-send {
  display: flex;
  align-self: center;
  background: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: .4s ease-in;

  
  &[disabled] {
    transition: .4s ease-out;
    cursor: no-drop;
    fill: $gray;
  }
}
