@import "./variables";
@import "./mixins";

.modals__report-advertisement {
  width: 100%;
  max-width: 450px;
  display: none;
  flex-direction: column;
  gap: 20px;
  background: #ffff;
  padding: 40px;
  border-radius: 8px;

  & label {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  & p {
    @include fonts($defaultColor, 14px, 400);

    & span {
      color: red;
    }
  }

  & input, select, textarea {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid black;
    width: 100%;

    &::placeholder {
        @include fonts(rgb(110, 109, 109), 14px, 400);
    }
  }
}

.modals__report-advertisement-field {
  display: flex;
  flex-direction: column;
  gap: 15px;
}