<div>
    <div style="max-width: 800px; margin: 0 auto;">
        <table style="">
            <tr>
                <th>
                    <div style="max-width: 100px; max-height: 100px;">
                        <img src="cid:logo.png" alt="" style="width: 100%;">
                    </div>
                </th>
                <th style="text-align: center; margin: auto;">
                    <h2>ДОМЕР.БЕЛ</h2>
                </th>
            </tr>
        </table>
        <div style="background: lightgray; padding: 10px; border-radius: 8px;">
            <h2 style="flex-wrap: wrap; margin: 0 10px; padding-bottom: 10px;">
                Восстановление пароля
            </h2>
            <div style="background-color: #ffffff; padding: 10px; border-radius: 10px;">
                <h3 style="margin: 0 10px 10px 10px;">

                </h3>
                <p style="flex-wrap: wrap; margin: 10px 0 10px 10px;">
                    Вы получили это письмо, потому что вы (или кто-то другой) запросили восстановление пароля от учётной
                    записи на сайте {{ url }}, которая связана с этим адресом электронной почты.
                </p>
                <p style="flex-wrap: wrap; margin: 10px 0 10px 10px;">
                    Для восстановления пароля нажмите на кнопку:
                </p>
                <p style="flex-wrap: wrap; margin: 10px 0 10px 10px;">
                <div style="padding: 10px 0 10px 10px;">
                    <a href="{{ url }}{{ activation_url }}"
                       style="text-decoration: none; border-radius: 8px; padding: 10px; background: #719ece; color: white;">Восстановить
                        пароль</a>
                </div>
                <p style="flex-wrap: wrap; margin: 10px 0 10px 10px;">
                    или перейдите по ссылке:
                </p>
                <a style="flex-wrap: wrap; margin: 10px 0 10px 10px;"
                   href="{{ url }}{{ activation_url }}">
                    {{ url }}{{ activation_url }}
                </a>
                <p style="flex-wrap: wrap; margin: 10px 0 10px 10px;">
                    Спасибо, что используете наш сайт!
                </p>
                <p style="flex-wrap: wrap; margin: 10px 0 10px 10px;">
                    Команда сайта {{ url }}
                </p>
                <p style="flex-wrap: wrap; margin: 10px 0 10px 10px;">
                    Если вы не запрашивали восстановление пароля, то проигнорируйте это сообщение
                </p>
            </div>
            <div style="padding: 20px 0 10px 0;">
                <a href="{{ url }}"
                   style="text-decoration: none; border-radius: 8px; padding: 10px; background: #719ece; color: white;">Перейти
                    на сайт</a>
            </div>
        </div>
        <div style="margin: 0 auto;">
            <p style="margin: 0 auto; text-align: center;">
                Это автоматическое уведомление. Не отвечайте на него в почте.
            </p>
            <p style="margin: 0 auto; text-align: center;">
                По нажатию на синюю кнопку «Перейти на сайт» вы попадете на сайт Домер.бел.
            </p>
        </div>
    </div>
</div>