{% extends "profile_user.html" %}
{% load static %}
{% load advertisement_tags %}
{% block css2 %}
    <link rel="stylesheet" href="{% static 'css/profileFavorites-min.css' %}">
{% endblock css2 %}
{% block title %}
{% endblock title %}
{% block modals %}
    <form aria-modal="true" class="note__modal">
        <div class="cross">
            <svg width="20.000000" height="20.000000" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink">
                <desc>
                    Created with Pixso.
                </desc>
                <defs>
                    <clipPath id="clip946_10111">
                        <rect id="Dismiss" width="20.000000" height="20.000000" fill="white" fill-opacity="0"/>
                    </clipPath>
                </defs>
                <g clip-path="url(#clip946_10111)">
                    <path id="Shape"
                          d="M3.89 4.05L3.96 3.96C4.23 3.7 4.65 3.67 4.94 3.89L5.03 3.96L10 8.93L14.96 3.96C15.23 3.7 15.65 3.67 15.94 3.89L16.03 3.96C16.29 4.23 16.32 4.65 16.1 4.94L16.03 5.03L11.06 10L16.03 14.96C16.29 15.23 16.32 15.65 16.1 15.94L16.03 16.03C15.76 16.29 15.34 16.32 15.05 16.1L14.96 16.03L10 11.06L5.03 16.03C4.76 16.29 4.34 16.32 4.05 16.1L3.96 16.03C3.7 15.76 3.67 15.34 3.89 15.05L3.96 14.96L8.93 10L3.96 5.03C3.7 4.76 3.67 4.34 3.89 4.05L3.96 3.96L3.89 4.05Z"
                          fill="#212121" fill-opacity="1.000000" fill-rule="nonzero"/>
                </g>
            </svg>
        </div>
        <div class="modals__login-logo-wrap">
            <div class="modals__login-logo">
                <img src="{% static 'img/logo.png' %}" alt="">
            </div>
            <h2>
                Заметка
            </h2>
        </div>
        <fieldset>
            <textarea name="note" id="note" placeholder="Написать заметку..." rows="15"></textarea>
            <input type="hidden" name="advertisement">
            <div class="note__modal-btn">
                <button type="button" class="submit__btn save-note__btn">
                    Сохранить
                </button>
                <button type="button" class="cancel__btn submit__btn">
                    Отмена
                </button>
            </div>
        </fieldset>
    </form>
{% endblock modals %}
{% block search %}
{% endblock search %}
{% block mainInfo %}
    <div class="main__info">
        <ul class="main__info-favorites-list">
            {% for card in favorites_list %}
                <li class="default__item">
                    <article class="advertisement__list-item"
                             {% if user.is_authenticated %}data-id="{{ card.id }}"{% endif %}>
                        <a href="{% url 'advertisement_details' card.slug %}" class="advertisement__list-item-img">
                            <img src="{% if card.preview_image %} {{ card.preview_image.url }} {% else %}{% static 'img/no_image.jpg' %}{% endif %}"
                                 alt="{{ card.category }}">
                        </a>
                        <div class="advertisement__list-item-about">
                            <h3 class="advertisement__list-item-title">
                                <a href="{% url 'advertisement_details' card.slug %}">
                                    {{ card.title }}
                                </a>
                            </h3>
                            <div class="advertisement__list-item-about-favorites{% if card.id in user.userfavorites.favorites %} advertisement__favorites-active{% endif %}"></div>
                            <div class="advertisement__list-item-about-main">
                                <div class="advertisement__list-item-about-main-info">
                                    <p class="advertisement__list-item-price">
                                        {% if card.price %}
                                            {{ card.price|floatformat }} руб.
                                        {% else %} Договорная
                                        {% endif %}
                                    </p>
                                    <ul class="advertisement__list-item-about-text-list">
                                        <li class="advertisement__list-item-category">
                                            {{ card.category }}
                                        </li>
                                        <li>
                                            {{ card.bearer }}
                                        </li>
                                        <li>
                                            {{ card.region }}
                                        </li>
                                        <li>
                                            {% if card.date_of_last_activation|date:"d b. Y" == date_today|date:"d b. Y" %}
                                                Сегодня
                                            {% elif card.date_of_last_activation|date:"d b. Y" == date_yesterday|date:"d b. Y" %}
                                                Вчера
                                            {% else %}
                                                {{ card.date_of_last_activation|date:"d b. Y H:i" }}
                                            {% endif %}
                                        </li>
                                    </ul>
                                </div>
                                <div class="advertisement__list-item-notes-wrap">
                                    <p class="advertisement__list-item-notes-title">Заметки</p>
                                    <p class="advertisement__list-item-notes">
                                        {% if card.note %}{{ card.note }}{% else %}Написать заметку...{% endif %}</p>
                                </div>
                            </div>
                            {% if card.vip or card.special_accommodation or card.highlight_ad or card.raise_in_search %}
                                <ul class="advertisement__list-item-action">
                                    {% if card.special_accommodation %}
                                        <li class="advertisement__list-item-action-item">
                                            <img src="{% static 'img/special.png' %}" alt="">
                                        </li>
                                    {% endif %}
                                    {% if card.vip %}
                                        <li class="advertisement__list-item-action-item">
                                            <img src="{% static 'img/VIP.png' %}" alt="">
                                        </li>
                                    {% endif %}
                                    {% if card.highlight_ad %}
                                        <li class="advertisement__list-item-action-item">
                                            <img src="{% static 'img/highlight.png' %}" alt="">
                                        </li>
                                    {% endif %}
                                    {% if card.raise_in_search %}
                                        <li class="advertisement__list-item-action-item">
                                            <img src="{% static 'img/up.png' %}" alt="">
                                        </li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>
                    </article>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock mainInfo %}
{% block js2 %}
    <script src="{% static 'js/profile/storeLogo.js' %}"></script>
    <script src="{% static 'js/profile/region.js' %}"></script>
    <script src="{% static 'js/profile/favoritesNotes.js' %}"></script>
{% endblock js2 %}
